@import "tailwindcss";

@theme {
    --color-color: #003366;
    --color-color-2: #666;
    --color-color-3: #00509e;
    --color-color-4: #9460C9;
    --color-gradient-1: #00509E;
    --color-gradient-2: #9460C9;
  }


@layer components {
  th, td {
    @apply border border-color-2;
  }
}

body{
    background-color: #e0eafc;
    font-family: Poppins, sans-serif;
}
input{
      outline: none !important;
      border-color:#666;
      color:#666;
      font-size: 14px;
}
button{
  cursor: pointer;
}
select{
      outline: none !important;
      border-color:#666;
      color:#666;
      cursor: pointer;
}
label{
  color:#003366;
}
::-webkit-scrollbar {
  width: 8px;           
  height: 10px;         
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3366cc;  
  border-radius: 10px;       
  border: 2px solid #f1f1f1;  
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

option:hover {
    cursor: pointer !important;
}