@import "tailwindcss";

@theme {
    --color-color: #003366;
    --color-color-2: #666;
    --color-color-3: #00509e;
}

@layer components {
  th, td {
    @apply border border-color-2;
  }
}

body{
    background-color: #e0eafc;
}
input{
      outline: none !important;
      border-color:#666;
      color:#666;
}
select{
      outline: none !important;
      border-color:#666;
      color:#666;
      cursor: pointer;
}
label{
  color:#003366;
}

::-webkit-scrollbar{
    display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

option:hover {
    cursor: pointer !important;
}