@import "tailwindcss";

@theme {
    --color-color: #003366;
    --color-color-2: #666;
    --color-color-3: #00509e;
}

body{
    background-color: #e0eafc;
}

::-webkit-scrollbar{
    display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

option:hover {
    cursor: pointer !important;
}